DB_HOST=localhost
DB_NAME=chatop_db
DB_USER=chatop_user
DB_PASSWORD=change-me
APP_JWT_SECRET=change-me-with-a-long-secret-key-change-me-with-a-long-secret-key
APP_JWT_EXPIRATION_MS=86400000
SERVER_PORT=8090
